


html{
    background-color:darkgrey;
    background-image: url(" ../../.images/IMG-20200806-WA0003.jpg" );
    }
    .heading{
        color: pink;
       background-color:grey;
        
    }
    
    body{text-align: center;
    }
    
    #home{text-align: left;}
    #logout{text-align: right;}
    
    #asterisk{
        color: red;
    }
    
    #form{
                     
                   margin-top: 0pt;
                   margin-right:20%;
                   margin-bottom: 0px;
                   margin-left: 20%;
                   background-color: grey;
          }
          
          .asterisk{
              color: red;
          }
          #footer{
              background-color: grey;
              float: bottom;
              font-weight: bold;
          } 
          
    .column {
  float: left;
  width: 50%;
  background-color: grey;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#content{background-color: grey;}

.viewconfirmation{text-align: right;
}
