


html{
    background-color:darkgrey;
    }
    .heading{
        color: maroon;
        background-color:grey;
    }
    
    #asterisk{
        color: red;
    }
    
    #form{
                   background-color:grey;    
                   margin-top: 0pt;
                   margin-right:20%;
                   margin-bottom: 0px;
                   margin-left: 20%;
          }
          
          .asterisk{
              color: red;
          }
          #footer{
              background-color: red;
          }      